# Extreme consumption levels - Electricity

In [3]:
# Import libraries for reading and wrangling data
library(readr)
library(dplyr)

In [4]:
# Read DataFrames
ElecHourDF  <- read_csv("../../../curated/electricity/gold_hourly_electricity.csv", show_col_types = FALSE)
ElecDayDF   <- read_csv("../../../curated/electricity/gold_daily_electricity.csv", show_col_types = FALSE)
ElecMonthDF <- read_csv("../../../curated/electricity/gold_monthly_electricity.csv", show_col_types = FALSE)

In [39]:
df1 <- ElecHourDF %>%
    mutate(
        extreme_type = ifelse(consumption == min(consumption), "min", ifelse(consumption == max(consumption), "max", "")),
        time_frame = "hour"
    ) %>%
    filter(extreme_type %in% c("min", "max")) %>%
    select(-date)

df2 <- ElecDayDF %>%
    mutate(
        extreme_type = ifelse(consumption == min(consumption), "min", ifelse(consumption == max(consumption), "max", "")),
        time_frame = "day",
        hour = as.integer(NA)
    ) %>%
    filter(extreme_type %in% c("min", "max")) %>%
    select(-date)

df3 <- ElecMonthDF %>%
    mutate(
        extreme_type = ifelse(consumption == min(consumption), "min", ifelse(consumption == max(consumption), "max", "")),
        time_frame = "month",
        day = as.integer(NA),
        hour = as.integer(NA)
    ) %>%
    filter(extreme_type %in% c("min", "max"))

In [40]:
df1

  year month day hour consumption extreme_type time_frame
1 2012  6    13  22   0.516       min          hour
2 2012  6    17  22   0.516       min          hour
3 2013 12     2  10   6.442       max          hour

In [41]:
df2

  year month day consumption extreme_type time_frame hour
1 2012  4    1   13.755      min          day        NA
2 2012 12    4   49.856      max          day        NA

In [42]:
df3

  year month consumption extreme_type time_frame day hour
1 2012 11    1073.132    max          month      NA  NA
2 2014  4      19.342    min          month      NA  NA

In [48]:
df1 %>%
    union(df2) %>%
    union(df3) %>%
    arrange(factor(time_frame, levels = c("hour", "day", "month")), consumption)

  year month day hour consumption extreme_type time_frame
1 2012  6    13  22      0.516    min          hour
2 2012  6    17  22      0.516    min          hour
3 2013 12     2  10      6.442    max          hour
4 2012  4     1  NA     13.755    min          day
5 2012 12     4  NA     49.856    max          day
6 2014  4    NA  NA     19.342    min          month
7 2012 11    NA  NA   1073.132    max          month